# Build outputs
bin/
obj/
publish/
/publish/

# Rider, VSCode
.idea/
.vscode/
*.suo
*.user
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary worktrees
.gh-pages-worktree/

# node
node_modules/

# NuGet
*.nupkg
project.lock.json

# Dotnet tool folders
.vs/

# Do not ignore docs/ (we want to commit site output here)
# docs/


.fake