@page "/blog/sample2"


<PageTitle>My first test page 2</PageTitle>

<div class="content">
    <h1>My first test page 2</h1>

    <h2 id="hello-world">Hello world!</h2>
<LatexContainer title="Euler's Identity">
<p><span class="math">\(e^{i\pi} + 1 = 0\)</span></p>
<p>This is considered the most beautiful equation in mathematics.</p>
</LatexContainer>

</div>
